body {
  background: hsl(217, 54%, 11%);
  
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
}


/* 
  Card is:
  - Image,
  - Body:
    - Content:
      - Header,
      - Description
    - Stats:
      - Eth,
      - Time
    - Footer:
      - Avatar,
      - Author
*/
/* Card */
.card {
  background: hsl(216, 50%, 16%);
  width: 40vw;
  height: auto;
  margin-top: 5em;
  border-radius: 0.7em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  font-family: Outfit;
  font-size: 18px;
  font-weight: 300;
  color: hsl(215, 51%, 70%);

  padding: 1.7%;
}

  /* Image: */
  .card-img {
    width: 100%;

    display: flex;
    justify-content: center;
  }
    .card-img img {
    display: block;
    width: 20em;
    }

  /* Body section */    
  .card-body {
    
    }

    /* Content section */
    .card-content {

    }
      .card-content-header {
        font-weight: 600;
        color: hsl(0, 0%, 100%);
      }
      .card-content-description {
      color: hsl(215, 51%, 70%);
      }

    /* Stats section */
    .card-stats {
      display: flex;
      justify-content: space-between;
    
      padding-bottom: 0.7em;
      border-bottom: 0.3px solid hsl(215, 32%, 27%);
    }
      .card-stats-eth {
        color: hsl(178, 100%, 50%)
      }
      .card-stats-time {
      
      }

    /* Footer section */
    .card-footer {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      padding-top: 0.7em;
    }
      .card-footer-avatar {
        display: flex;
        justify-content: center;

        width: 2em;
        height: 2em;

        border: 0.1px solid hsl(0, 0%, 100%);
        border-radius: 100%;

        margin-right: 0.9em;
      }
        .card-footer-avatar img {
          display: block;
          object-fit: contain;
        }
        /*.card-footer-author { } */
        .card-footer-author-name {
          color:hsl(0, 0%, 100%);
        }


/* Page footer */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}