@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

body {
  background: hsl(217, 54%, 11%);
  
  margin: 0;
  padding: 0;
  width: 100vw;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


/**
  Card is:
  - Image,
  - Body:
    - Content:
      - Header,
      - Description
    - Stats:
      - Eth,
      - Time
    - Footer:
      - Avatar,
      - Author
**/
/** Card **/
.card-link {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}
  .card-link:active {
    color: hsl(178, 100%, 50%);
  }
  .card-link:visited {
    text-decoration: none;
  }

.card {
  background: hsl(216, 50%, 16%);

  margin: 3rem auto;
  border-radius: 0.7em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  font-family: 'Outfit', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: hsl(215, 51%, 70%);

  padding: 2.2em;
}

  /** Image: **/
  .card-img {
    width: 100%;

    display: flex;
    justify-content: center;
    position: relative;
  }
    .card-img img {
      display: block;

      border-radius: 0.7em;
    }
    .card-img:active::before {
      position: absolute;
      
      width: 100%;
      height: 100%;

      content: '';
      background-color: aqua;
      opacity: 40%;
      border-radius: 0.7em;
    }
    .card-img:active::after {
      position: absolute;
      top: 45%;
      left: 45%;

      content: url('./images/icon-view.svg');
    }


  /** Body section **/    
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

    /** Content section **/
      /*.card-content { }*/
      .card-content-header, .card-content-header .card-link {
        font-weight: 600;
        
      }
      .card-content-description {
        color: hsl(215, 51%, 70%);
        line-height: 1.5em;
        padding-right: 4.7em;
      }

    /** Stats section **/
    .card-stats {
      display: flex;
      justify-content: space-between;
    
      padding-bottom: 0.7em;
      border-bottom: 0.1em solid hsl(215, 32%, 27%);
    }
      .card-stats-eth {
        color: hsl(178, 100%, 50%);
      }
      /*.card-stats-time { }*/

    /** Footer section **/
    .card-footer {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      padding-top: 0.7em;
    }
      .card-footer-avatar {
        display: flex;
        justify-content: center;

        width: 2em;
        height: 2em;

        border: 0.1em solid hsl(0, 0%, 100%);
        border-radius: 100%;

        margin-right: 0.9em;
      }
        .card-footer-avatar img {
          display: block;
          object-fit: contain;
        }
        /*.card-footer-author { } */
        /*.card-footer-author-name { } */

/** Page footer **/
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}


/** Media quieris: **/
@media (max-width: 720px) {
  .card {
    margin: 2rem 0.9rem;
    padding: 1em;
  }

  .card-img img {
    width: 100%;
  }
}